.twist {

  > :first-child {
    @apply m-6 flex-shrink-0;
    transform: rotate(-1deg);
  }

  > :nth-child(2n) {
    @apply m-6 flex-shrink-0;
    transform: rotate(3deg);
  }

  > :nth-child(3n) {
    @apply m-6 flex-shrink-0;
    transform: rotate(-2deg);
  }

  > :nth-child(5) {
    @apply m-6 flex-shrink-0;
    transform: rotate(-4deg);
  }
}

.after\:border-yellow-left:after {
  @apply block w-1/2 h-2 mt-2 bg-yellow-500;
  content: '';
}

.after\:border-red-right:after {
  @apply block w-1/2 h-2 mt-2 ml-auto bg-red-500;
  content: '';
}
