::selection {
  @apply .bg-blue-500 text-white;
}

h1 {
  @apply font-extrabold text-5xl;
}

h2 {
  @apply font-bold text-4xl;
}

h3 {
  @apply font-bold text-3xl;
}

h4 {
  @apply font-normal text-2xl;
}

h5 {
  @apply font-normal text-xl;
}

h6 {
  @apply font-light text-lg;
}

.post-body {
  > p {
    @apply text-lg;

    &:not(:last-child) {
      @apply mb-4;
    }

    &:first-of-type {
      @apply text-white text-xl;
    }
  }

  img,
  iframe,
  video {
    @apply max-w-full my-12 mx-auto shadow-lg rounded relative z-0;
    transform: scale(1.02);
  }

  a {
    @apply text-green-500 underline;

    &:hover {
      @apply no-underline;
    }
  }

  hr {
    @apply border-none my-12 h-2;

    &:before {
      @apply block h-2 bg-contain bg-no-repeat bg-center;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 104 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(1,0,0,1,-667.238,-42.9052)'%3E%3Ccircle cx='677.38' cy='53.047' r='10.141' style='fill:rgb(255,79,94);'/%3E%3Cg transform='matrix(1,0,0,1,55.6848,0)'%3E%3Ccircle cx='677.38' cy='53.047' r='10.141' style='fill:rgb(80,255,235);'/%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,27.8424,0)'%3E%3Ccircle cx='677.38' cy='53.047' r='10.141' style='fill:rgb(255,148,80);'/%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,83.5273,0)'%3E%3Ccircle cx='677.38' cy='53.047' r='10.141' style='fill:rgb(31,138,238);'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      content: "";
    }
  }

  ul {
    @apply m-4;

    li {
      @apply list-disc mb-2;
    }
  }

  ol {
    @apply m-4;

    li {
      @apply list-decimal mb-2;
    }
  }

  blockquote {
    @apply my-8 pl-6 text-blue-500 text-2xl max-w-full;
    width: max-content;

    p {
      @apply text-2xl mb-3;
    }

    &:before {
      @apply block w-12 h-10 -mt-4 -ml-2 bg-contain bg-no-repeat bg-center;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 55 35' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(1,0,0,1,-702.586,-167.313)'%3E%3Cg transform='matrix(1,0,0,1,262.426,-32.2607)'%3E%3Cpath d='M469.484,209.877C469.169,210.692 468.815,212.404 467.927,213.769C464.349,219.27 460.665,224.704 456.903,230.08C454.527,233.475 450.886,234.728 447.109,233.739C443.35,232.756 440.758,229.816 440.23,225.813C439.939,223.612 440.578,221.56 441.778,219.755C445.364,214.365 448.965,208.982 452.683,203.683C455.24,200.039 459.25,198.768 463.21,200.072C466.974,201.311 469.567,205.007 469.484,209.877' style='fill:rgb(31,138,238);fill-rule:nonzero;'/%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,287.955,-32.2607)'%3E%3Cpath d='M469.484,209.877C469.169,210.692 468.815,212.404 467.927,213.769C464.349,219.27 460.665,224.704 456.903,230.08C454.527,233.475 450.886,234.728 447.109,233.739C443.35,232.756 440.758,229.816 440.23,225.813C439.939,223.612 440.578,221.56 441.778,219.755C445.364,214.365 448.965,208.982 452.683,203.683C455.24,200.039 459.25,198.768 463.21,200.072C466.974,201.311 469.567,205.007 469.484,209.877' style='fill:rgb(255,148,80);fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      content: "";

      @screen sm {
        @apply -ml-16 -mb-5;
      }
    }

    &:after {
      @apply block w-12 h-10 ml-auto bg-contain bg-no-repeat bg-center;
      background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg width='100%25' height='100%25' viewBox='0 0 55 35' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xml:space='preserve' xmlns:serif='http://www.serif.com/' style='fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;'%3E%3Cg transform='matrix(1,0,0,1,-702.586,-213.129)'%3E%3Cg transform='matrix(1,0,0,1,262.426,13.5554)'%3E%3Cpath d='M469.484,209.877C469.169,210.692 468.815,212.404 467.927,213.769C464.349,219.27 460.665,224.704 456.903,230.08C454.527,233.475 450.886,234.728 447.109,233.739C443.35,232.756 440.758,229.816 440.23,225.813C439.939,223.612 440.578,221.56 441.778,219.755C445.364,214.365 448.965,208.982 452.683,203.683C455.24,200.039 459.25,198.768 463.21,200.072C466.974,201.311 469.567,205.007 469.484,209.877' style='fill:rgb(255,79,94);fill-rule:nonzero;'/%3E%3C/g%3E%3Cg transform='matrix(1,0,0,1,287.955,13.5554)'%3E%3Cpath d='M469.484,209.877C469.169,210.692 468.815,212.404 467.927,213.769C464.349,219.27 460.665,224.704 456.903,230.08C454.527,233.475 450.886,234.728 447.109,233.739C443.35,232.756 440.758,229.816 440.23,225.813C439.939,223.612 440.578,221.56 441.778,219.755C445.364,214.365 448.965,208.982 452.683,203.683C455.24,200.039 459.25,198.768 463.21,200.072C466.974,201.311 469.567,205.007 469.484,209.877' style='fill:rgb(80,255,235);fill-rule:nonzero;'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      content: "";
    }
  }

  code {
    @apply bg-purple-600 px-2 py-px rounded text-sm;
  }

  code.hljs {
    @apply bg-transparent p-0;

    .hljs-comment,
    .hljs-keyword,
    .hljs-meta {
      @apply font-normal not-italic;
    }
  }

  pre {
    @apply bg-white leading-loose my-6 p-4 overflow-x-auto rounded text-base;
    transform: scale(1.02);

    code {
      @apply bg-transparent block p-0;
    }
  }
}
