.header-with-cover {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header-title {
  @apply z-10;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
  align-self: center;

  h1 {
    text-shadow: 1px 2px 2px theme("colors.purple.500");
  }
}

.header-image {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 1;
}
