@tailwind base;
@tailwind components;

// Code syntax highlighting,
// powered by https://highlightjs.org
@import "~highlight.js/styles/a11y-light.css";

@import "base";
@import "post";
@import "navigation";
@import "about";

@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.marker {
  @apply bg-transparent;
  color: inherit;
  font-family: 'Permanent Marker', theme('fontFamily.sans');
}

.bg-gradient-purple {
  background-image: linear-gradient(
    to bottom,
    rgba(32, 19, 59, 1) 0%,
    rgba(32, 19, 59, 1) 17%,
    rgba(32, 19, 59, 0.58) 61%,
    rgba(32, 19, 59, 0) 100%
  );
}

.bg-darken {
  &:before {
    @apply absolute inset-0 z-0;
    background-color: #20133BEB;
    content: '';
  }
}

.bg-offtop {
  background-position-y: -100px;
}

@tailwind utilities;
